

/* body {
  background-color: beige;

} */

header {
  display: flex; 
  flex-direction: column;

}

#header {
  display: flex; 
  flex-direction: row;
}

header h1 {
  font-family: 'Chilanka', cursive;
  font-size: 36px;
  color: rgb(247, 109, 4);
  text-decoration: underline wavy seagreen;
  padding: 5% 0 2% 5%;
  
}

header h2 {
  font-family: 'Chilanka', cursive;
  font-size: 24px;
  color: rgb(247, 109, 4);
  padding: 0px 15px 10px 135px;

}

#fish-cookies {
  align-self: flex-end;
  padding-left: 25%;
  max-width: 50%;

  
}

nav {
  border: 3px solid seagreen;
  margin: 2%;
  background-color: beige;
}

nav a {
  font-size: 24px;
  padding: 10px 0px 10px 70px;
  display: block;
  text-decoration: underline wavy rgb(247, 109, 4);
}

body {
  border: 5px solid  rgb(247, 109, 4);
  margin: 15%;
  
}

main {
  border: 3px solid seagreen;
  margin: 2%;

}

main section {
display: flex;
flex-direction: column;
flex-wrap: wrap; 
max-height: 500px;
}

#family {
  margin-top: 2%;
  margin-left: 1%;
}

article p {
  max-width: 300px;
  max-height: 450px;
  text-align: justify;
  border: 2px solid seagreen;
  padding: 5px;
  margin: 2%;
  background-color: beige;
}

#shirt {
  align-self: baseline;
  margin-top: 2%; 
}

#merch {
  font-family: 'Chilanka', cursive;
  font-size: 36px;
  color: rgb(247, 109, 4);
  text-decoration: underline wavy seagreen;
  padding-top: 8%;
}


article p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: cornflowerblue
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 230px;

}

footer img {
  margin: 2%;
}

.contactinfo1 {
  font-family: 'Chilanka', cursive;
  font-size: 24px;
  text-decoration: underline wavy rgb(247, 109, 4);
  margin-left: 2%;
  margin-bottom: 2%;
}

.contactinfo2 {
  font-family: 'Chilanka', cursive;
  font-size: 24px;
  text-decoration: underline wavy rgb(247, 109, 4);
  margin-left: 2%;
  margin-bottom: 1%;
}

ul {
  font-family: 'Chilanka', cursive;
  font-size: 10px;
  margin-bottom: 3%;
}

li {
  padding: 3%;
  margin-top: 3%;
}


a:link {
  color:  seagreen;
  text-decoration: underline wavy rgb(247, 109, 4);

}

a:visited {
  color: seagreen;
}

a:hover {
  color:  rgb(247, 109, 4);
}

